# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import numpy, pandas and mysqlalchemy (following what you have learned in previous lessons):

# Challenge 1 - Load and Evaluate the Datasets

#### In this challenge we will load two SQL tables from [this link](https://relational.fit.cvut.cz/dataset/Stats). We will then proceed to evaluate the data to see what type of cleaning and manipulation is necessary.

In the cell below, create a mysql engine using the link provided above.

In [2]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

Use this connection to load the `users` table (stats.users). Load this table into a variable called `users`. You will need to use the method pd.read_sql_query where you can speficy a SQL query together with the engine!

In [4]:
# Your code here:

#### Let's start examining the dataset.

First look at the first five rows using the `head` function.

In [5]:
# Your code here:

Next, examine the column names and types to see if there is a type mismatch. Use the `dtypes` function.

In [6]:
# Your code here:

Finally, we'll examine the `describe` function to see the descriptive statistics for the numeric variables.

In [7]:
# Your code here:

#### Now let's load the posts table in the cell below.

Use the same mysql engine to load the posts table (stats.posts) into a dataframe called `posts`.

In [8]:
# Your code here:

#### Let's repeat what we did with the `users` table and print the first 5 rows, the data types of each column and describe the numeric data.

Do this in the following 3 cells below.

In [11]:
# Your code here:

In [12]:
# Your code here:

In [13]:
# Your code here:

# Challenge 2 - Prepare the Datasets for Merging and Merge

#### We would like to join a subset of columns from each table. To ease the process, let's create a new dataframe containing a subset of columns for both `posts` and `users`

In the cell below, create a new dataframe called `posts_subset` containing only the columns: `Id`, `Score`, `OwnerUserID`, `ViewCount` ,`CommentCount`

In [14]:
# Your code here:

In the cell below, create a dataframe called `users_subset` containing only the columns `Id`, `Reputation`, `Views`, `UpVotes`, `DownVotes`.

In [15]:
# Your code here:

#### You will note that the Id column does not refer to the same thing in both tables. In the posts table, it refers to the post ID and in the users table it refers to the user ID. 

In the `users_subset` dataframe, rename the `Id` column to `UserId`. Do this using the option `inplace=True`.

In [16]:
# Your code here:

In the `posts_subset` dataframe, rename the `Id` column to `PostId`. Do this using the option `inplace=True`.

In [17]:
# Your code here:

We identify the only column that the two tables have in common as the user ID. However, this column is called `UserId` in the `users_subset` table and `OwnerUserId` in the `posts_subset` table. Using what we have previously learned about merging two dataframes and looking at the documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html), merge the two dataframes. Name the merged dataframe `stackoverflow`.

In [18]:
# Your code here:

Check to see if you have kept both key columns (if you join by making one of the columns an index first, this can be avoided).

If both columns are present in `stackoverflow`, drop `OwnerUserId`. Do this using `inplace=True`.

In [19]:
# Your code here:

# Challenge 3 - Cleaning Up the Data

Now that we have merged the two dataframes, let's handle the missing values.

Find the number of missing values in each column by applying the `isna()` function to the dataframe. Then apply the `sum()` function to that to find the count of missing values in each column.

In [20]:
# Your code here:

We see that about half of all observations in the view count column are missing. Let's examine these observations and why they have missing data. Create a subset of rows that have a missing value in the `ViewCount`. Look at the `describe()` function for that subset. You output should look like in the table below.

![describe table](../describe-table.png)

In [21]:
# Your code here:

It seems that there is a mix of users. They do not have a high comment count but they do have some upvotes and downvotes. Therefore, it would not make sense to fill these values with zero. 

If we investigate further, we will see that there are some users that have view counts missing for some posts but not others. We will cover different ways of investigating further in future lessons. What we can certainly say is that we should not fill all cells with the same values. One way to fill the values is using linear interpolation. Linear interpolation assumes that there is a line between two points and places all observations between the two points along that line. You can read more about linear interpolation [here](https://en.wikipedia.org/wiki/Linear_interpolation).

To apply linear interpolation to our missing data, we use the `interpolate` function in pandas. You can read the documentation for this function [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.interpolate.html).

Apply the `interpolate` function to the `ViewCount` column. Use `inplace=True`

In [22]:
# Your code here:

# Bonus Challenge - Fill the Missing Data Using Linear Regression

We have learned about linear regression in the prework. To read more about linear regression in Python, click [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

Create a linear model where the Y variable is the `ViewCount` and the X variable is `Score`. Make sure to use only rows that do not contain `NaN` by filtering them out.

Use this regression model to produce a fitted value for every `NaN`. Using the `np.where` function, assign the predicted value only to rows where you have a `NaN`.

Tip: If you get an error when creating your linear model, reshape the data to the correct shape (a 2D array) by appending `.values.reshape(-1, 1)` to the column. Also, transform the predicted data from a numpy array back to a dataframe and use only one column.

In [23]:
# Your code here:

We have seen that both `UserId` and `PostsId` are treated as numeric even though they do not describe anything quantitative about the data. We would like to exclude them from any numeric calculations. To do this, we should change them from numeric to string. Transform each column from numeric to string using the `astype` function and pass the argument `'str'` to the function. Since we cannot do this in place, assign these new values back to their original column names.

In [24]:
# Your code here:

#### We would like to simplify the comment count variable by bucketing this variable. 

In the cell below, we have created 5 bins. Bucket this variable into equal width bins using the `cut` function. Create a new column called `CommentBins` and assign the bucketed data to this column.

In [25]:
comment_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
# Your code here:

In [ ]:
########Class########

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv ("../vehicles.csv")
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [10]:
#Renaming columns
df.rename(columns={"Make":"Manufacturer"})

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [11]:
# rename wont continue as its not printed or nothing; to avoid that:
#Therefore 
1. df= df.rename(columns={"Make":"Manufacturer"})
2. df.rename(columns={"Make":"Manufacturer"}, inplace = True)

In [15]:
# rename more columns:

df.rename(columns={"Make":"Manufacturer", "Engine Displacement":"Displacement"}, inplace = True)
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
df.("Manufacturer").head()

In [ ]:
#Subsetting/Filter; like where in SQL
# Double == for checking conditions, one = is for variables

In [16]:
df[df["Manufacturer"]=="Ford"]
# Gives all rows where Manufacturer is Ford
# this is just a slect statement which is temporary

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14383,Ford,Windstar FWD Wagon,2001,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850
14384,Ford,Windstar FWD Wagon,2002,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,21,18,493.722222,1850
14385,Ford,Windstar FWD Wagon,2003,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850

In [ ]:
# to get a new dataframe names ford
# index is still in place of originally data frame
df_ford = df[df["Manufacturer"]=="Ford"]
df_ford.head()

In [20]:
# dataframe of all fords build in 1986
df_ford_1986 = df[(df["Manufacturer"]=="Ford") & (df["Year"]==1986)]
df_ford_1986.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [21]:
#Calculations on Dataframes
# Dataframes are mutable, therefore I can create new columns

df["Age"] = 2020 - df["Year"]


#When running code and it prints, it is temporary, if it doesnt, its permanent

In [ ]:
# Create a columns
# Age + Year
# Variables names should ideally be strings, otherwise it could be complicated with index

df["2020"] = df["Age"] + df["Year"]

In [4]:
# Altering a table to drop a column
df = df.drop ("Fuel Cost/Year", axis = 1)
# or
del df["Year"]

# List of columns to delete
df = df.drop (["Highway MFG", "City MFG"], axis = 1)

In [ ]:
# reset datafrem by running the reading again

In [ ]:
# filtering data
df["Manufacturer"]=="Ford"

# to extract
df_ford = df["Manufacturer"]=="Ford"

In [ ]:
# Applying functions to columns

In [ ]:
# sum of all columns
df.sum()

# sum of all rows
df.sum(axis=1)

#sum on specific column
df["Year"].sum()
#or 
np.sum(df["Year"])
# or
sum(df["Year"])

# Sum more than one column
df[["Year", "City MFG"]].sum()
# Wenn mehrere Spalten dann immer doppel Brackets to make clear here is a list of columns and not an argument
# Also when retrieving more than one list, I need an object/ an list
# One bracket for df, the othere for the list

In [ ]:
# sort
df.sort_values(by = "Year")
# reassign by inplace = True oder bei neuer Datastructure create

df.sort_values(by = ["Year", "City MFG"])

In [ ]:
df.nlargest(3, "Year")
df.nlargest(3, ["Year","City MFG"])

# --> all of these work on entire series
# inplace does not work when limiting

In [ ]:
# Functions that to not run on whole series but on a single element
# Using df.apply
# Just using by one column always, as it works for series not for frames; i need an object where it runs one by one

#map for list equivalent
# as upper is tied to a class --> Method, no function

df["Manufactures"].apply(str.upper)
# alternative
# we hae x as it is a string already
df["Manufactures"].apply(lambda x: x.upper())

# Apply works with Lambda functions
# Replace all  "a" by "b"

df["Manufactures"].apply(lambda x: x.replace("a", "b"))

In [ ]:
# Dataframe Aggregation using grouby

df.mean()
df.groupby?
df.groupby(["Fuel Type"]).mean()
# for showing these two variables
df.groupby(["Fuel Type"])["Cylinders", "City MPG"].mean()

# no double brackets for more than one
df.groupby(["Fuel Type"]).agg(["mean", "max"])

In [ ]:
# reset index
df.groupby(["Fuel Type"]).agg(["mean", "max"]).reset_index()