# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [ ]:
########Class########

In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv ("../vehicles.csv")
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [10]:
#Renaming columns
df.rename(columns={"Make":"Manufacturer"})

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [11]:
# rename wont continue as its not printed or nothing; to avoid that:
#Therefore 
1. df= df.rename(columns={"Make":"Manufacturer"})
2. df.rename(columns={"Make":"Manufacturer"}, inplace = True)

In [15]:
# rename more columns:

df.rename(columns={"Make":"Manufacturer", "Engine Displacement":"Displacement"}, inplace = True)
df.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [ ]:
df.("Manufacturer").head()

In [ ]:
#Subsetting/Filter; like where in SQL
# Double == for checking conditions, one = is for variables

In [16]:
df[df["Manufacturer"]=="Ford"]
# Gives all rows where Manufacturer is Ford
# this is just a slect statement which is temporary

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14383,Ford,Windstar FWD Wagon,2001,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850
14384,Ford,Windstar FWD Wagon,2002,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,21,18,493.722222,1850
14385,Ford,Windstar FWD Wagon,2003,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850

In [ ]:
# to get a new dataframe names ford
# index is still in place of originally data frame
df_ford = df[df["Manufacturer"]=="Ford"]
df_ford.head()

In [20]:
# dataframe of all fords build in 1986
df_ford_1986 = df[(df["Manufacturer"]=="Ford") & (df["Year"]==1986)]
df_ford_1986.head()

,Manufacturer,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [21]:
#Calculations on Dataframes
# Dataframes are mutable, therefore I can create new columns

df["Age"] = 2020 - df["Year"]


#When running code and it prints, it is temporary, if it doesnt, its permanent

In [ ]:
# Create a columns
# Age + Year
# Variables names should ideally be strings, otherwise it could be complicated with index

df["2020"] = df["Age"] + df["Year"]

In [4]:
# Altering a table to drop a column
df = df.drop ("Fuel Cost/Year", axis = 1)
# or
del df["Year"]

# List of columns to delete
df = df.drop (["Highway MFG", "City MFG"], axis = 1)

In [ ]:
# reset datafrem by running the reading again

In [ ]:
# filtering data
df["Manufacturer"]=="Ford"

# to extract
df_ford = df["Manufacturer"]=="Ford"

In [ ]:
# Applying functions to columns

In [ ]:
# sum of all columns
df.sum()

# sum of all rows
df.sum(axis=1)

#sum on specific column
df["Year"].sum()
#or 
np.sum(df["Year"])
# or
sum(df["Year"])

# Sum more than one column
df[["Year", "City MFG"]].sum()
# Wenn mehrere Spalten dann immer doppel Brackets to make clear here is a list of columns and not an argument
# Also when retrieving more than one list, I need an object/ an list
# One bracket for df, the othere for the list

In [ ]:
# sort
df.sort_values(by = "Year")
# reassign by inplace = True oder bei neuer Datastructure create

df.sort_values(by = ["Year", "City MFG"])

In [ ]:
df.nlargest(3, "Year")
df.nlargest(3, ["Year","City MFG"])

# --> all of these work on entire series
# inplace does not work when limiting

In [ ]:
# Functions that to not run on whole series but on a single element
# Using df.apply
# Just using by one column always, as it works for series not for frames; i need an object where it runs one by one

#map for list equivalent
# as upper is tied to a class --> Method, no function

df["Manufactures"].apply(str.upper)
# alternative
# we hae x as it is a string already
df["Manufactures"].apply(lambda x: x.upper())

# Apply works with Lambda functions
# Replace all  "a" by "b"

df["Manufactures"].apply(lambda x: x.replace("a", "b"))

In [ ]:
# in order to apply the apply to a dataframe the alternative way is to define a function
def replace(df):
    return df.str.replace("e","b")

# after define this function you can run

df[["Manufacturer","Fuel Type"]].apply(replace)

In [ ]:
# Dataframe Aggregation using grouby

df.mean()
df.groupby?
df.groupby(["Fuel Type"]).mean()
# for showing these two variables
df.groupby(["Fuel Type"])["Cylinders", "City MPG"].mean()

# no double brackets for more than one
df.groupby(["Fuel Type"]).agg(["mean", "max"])

In [ ]:
# reset index
df.groupby(["Fuel Type"]).agg(["mean", "max"]).reset_index()

In [46]:
####################################################### Class 26.09
#df = pd.read_csv ("../vehicles_messy.csv")
#df.head()

In [4]:
df.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [5]:
# What are the issues you can see
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [ ]:
# Investigating and replacing NUll values
df. isnull()
# or
pd.isnull(df)
# second one if applying to a single cell is common
# when applying to whole dataframe, than use first one
# same structure stays and it replaces all value by chekcing if it is empty or not and will replace it by True or False

In [ ]:
# find amount of null values of each column, sums up the True values for missing values
df.isnull().sum()

# percentage
df.isnull().sum() / len(df)
# wieso nicht count?! Da count nur die die nicht missing values anzeigt
# Trotzdem vorsichtig sein mit len in data frame bc it usually destroys dataframe and just shows one value

In [ ]:
# Subsetting:  Which columns do not have missing values 
null_cols = df.isnull().sum() == 0
# Which colums do have missing values
null_cols = df.isnull().sum() > 0

# but up to know still all colmuns are shown, therefore we just want to have the ones with missing values, by where clause
null_cols = df.isnull().sum()
null_cols(null_cols > 0) #---> bracket represents where clause 
# now just all variables with missing values and their amount

In [ ]:
# Now all null cols with no missing values
null_cols = df.isnull().sum()
null_cols(null_cols == 0)

In [ ]:
# List of columns with more than 10k missing values
null_cols = df.isnull().sum()
null_cols(null_cols > 10000)

In [ ]:
# Dropping column evMotors, mfrCode
df.drop(["evMotors", "mfrCode"], axis =1)

In [ ]:
# Drop all columns which have more than 10k missing values
# (wenn sum usw, wir haben kein Datframe mehr aber eine Serie) Wir haben eine Serie aus Index und einer Serie
cols_missing_10000 = list(null_cols(null_cols > 10000). index)
print (cols_missing_1000)

In [ ]:
df = df.drop(cols_missing_1000, axis = 1)
# hier originally is overridden

In [ ]:
# fuel type: Electricty! this means the they will have no cyylinders and no displacement. Replace by 0!

In [ ]:
df("cylinders")

# check if missing values
sum(df("cylinders"). isnull())

# now fill missing values by zero
df["cylinders"] = df["cylinders"].fillna(0)

In [ ]:
# no check if still missing values
sum(df("cylinders"). isnull())
# should show zero now

In [ ]:
#### Correcting incorrect values

In [ ]:
### Cleaning Text

In [ ]:
# all distinct values of trany
df["trany"]
set(df["trany"])

In [ ]:
# Replacing "-" by ""
df["trany"] = df["trany"].str.replace("-", "")
# also more in once are possible by making another str.replace at the end
# or with df apply and with lambda
# use logical thinking by replacing

In [ ]:
# replace bracket by empty string
# cause bracket has reserved meaingn, so you can not always doing same way like other 
df["trany"] = df["trany"].str.replace("\(", "")
#\ to say python do not go by specail characters/meaining

In [ ]:
### Dropping Duplicates
# when to rwos basically include same data

In [ ]:
df.drop_duplicates()
# drops all rows with duplicates; checks if entire row is a duplicate

df[["Year", " Cylinders", "Trany" ]].drop_duplicates()

In [ ]:
#Merge
pd.merge (a, b, left on =, right on = )
help(pd.merge)

In [ ]:
pd.merge (a, b left_on = "IndexCol", right_on = "indexCol", how = "right")
#or
a.merge(b, on="IndexCol", how = "right")