In [98]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [99]:
logs_web = pd.read_csv('logs_web.csv')
logs_web.head()

,browser,datetime,ip_anonymized,language,message
0,chrome,2015-09-01 00:02:14,9631420eea21b0458d01f7cc598c3ac2,en,0
1,firefox,2015-09-01 00:04:25,08bd4c63e1abb0e624cde4ac1518de73,ru,2
2,firefox,2015-09-01 00:07:34,07678caba7be8bbadead98d5b530c5ff,de,1
3,chrome,2015-09-01 00:07:47,ba759e7216a6a73d55591aed389ce2ad,en,2
4,chrome,2015-09-01 00:08:41,db166a3780720484f9ca31b093c5b6f0,en,1

In [100]:
logs_web.shape

(6438, 5)

In [101]:
logs_notifications = pd.read_csv('logs_notifications.csv')
logs_notifications.head()

,browser,datetime,ip_anonymized,language,message
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1

In [102]:
logs_notifications.shape

(500000, 5)

In [103]:
df_new = logs_notifications.merge(logs_web, on='ip_anonymized', how='left')
df_new

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,NaN,NaN,NaN
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,NaN,NaN,NaN
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,NaN,NaN,NaN
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,NaN,NaN,NaN
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0,NaN,NaN,NaN,NaN
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0,NaN,NaN,NaN,NaN
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1,NaN,NaN,NaN,NaN
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2,NaN,NaN,NaN,NaN
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2,NaN,NaN,NaN,NaN

In [104]:
df_new['YesNo'] = np.where(df_new['message_y'].isnull(),0,1)
df_new

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y,YesNo
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,NaN,NaN,NaN,0
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,NaN,NaN,NaN,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,NaN,NaN,NaN,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,NaN,NaN,NaN,0
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0,NaN,NaN,NaN,NaN,0
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0,NaN,NaN,NaN,NaN,0
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1,NaN,NaN,NaN,NaN,0
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2,NaN,NaN,NaN,NaN,0
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2,NaN,NaN,NaN,NaN,0

In [105]:
df_dum1 = pd.get_dummies(df_new['message_x'],drop_first = True)
df_dum2 = pd.get_dummies(df_new['language_x'],drop_first = True)
df_dum3= pd.get_dummies(df_new['browser_x'],drop_first = True)

In [106]:
df_final = df_new.merge(df_dum1, left_index = True, right_index = True)
df_final

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y,YesNo,1,2
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,NaN,NaN,NaN,0,0,1
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,NaN,NaN,NaN,0,0,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,NaN,NaN,NaN,0,0,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,NaN,NaN,NaN,0,0,1
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,NaN,NaN,NaN,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0,NaN,NaN,NaN,NaN,0,0,0
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0,NaN,NaN,NaN,NaN,0,0,0
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1,NaN,NaN,NaN,NaN,0,1,0
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2,NaN,NaN,NaN,NaN,0,0,1
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2,NaN,NaN,NaN,NaN,0,0,1

In [107]:
df_final2=df_final.merge(df_dum2, left_index = True, right_index = True)
df_final2

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y,YesNo,1,2,de,en,es,fr,ru
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,1
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,NaN,NaN,NaN,0,0,1,0,1,0,0,0
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,NaN,NaN,NaN,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1,NaN,NaN,NaN,NaN,0,1,0,0,1,0,0,0
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2,NaN,NaN,NaN,NaN,0,0,1,0,1,0,0,0
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0

In [108]:
df_final3=df_final2.merge(df_dum3, left_index = True, right_index = True)
df_final3

,browser_x,datetime_x,ip_anonymized,language_x,message_x,browser_y,datetime_y,language_y,message_y,YesNo,1,2,de,en,es,fr,ru,firefox
0,firefox,2015-09-01 00:00:00,d588180c3e5c462692c24cffd961de43,ru,2,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,1,1
1,chrome,2015-09-01 00:00:00,330f85e852916008aa80feb339696b2e,cn,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0
2,chrome,2015-09-01 00:00:00,b85871b1112cde31be2864927c035ae3,fr,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0
3,chrome,2015-09-01 00:00:00,51178bbf1c09a9a709b719fe948b5bd2,en,2,NaN,NaN,NaN,NaN,0,0,1,0,1,0,0,0,0
4,firefox,2015-09-01 00:00:01,884eec370b6d6bdf20d625039b9a3e8b,en,1,NaN,NaN,NaN,NaN,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,chrome,2015-09-07 23:59:47,610e9adf09f64640e5715b3cdc5dc651,fr,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0
499996,chrome,2015-09-07 23:59:49,62143d060d661e4c4032572207af3007,fr,0,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0
499997,chrome,2015-09-07 23:59:50,3c84701f20eeadf652e9cb9ee25677eb,en,1,NaN,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0
499998,chrome,2015-09-07 23:59:53,0e27bc5703ed5d0fd73f22c790368449,en,2,NaN,NaN,NaN,NaN,0,0,1,0,1,0,0,0,0
499999,chrome,2015-09-07 23:59:55,d117ac82c57cfe5c9cb422b275ac063a,de,2,NaN,NaN,NaN,NaN,0,0,1,1,0,0,0,0,0

In [109]:
Y = df_final3["YesNo"]
X = df_final3[[1,2]]
X = sm.add_constant(X)
model = sm.Logit(Y, X)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.068291
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  YesNo   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499997
Method:                           MLE   Df Model:                            2
Date:                Sat, 14 Nov 2020   Pseudo R-squ.:                0.001078
Time:                        17:26:48   Log-Likelihood:                -34146.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                 1.001e-16
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.5011      0.024   -191.178      0.000      -4.547      -4.455
1              0.2643      0.031      8.439      0.000       0.203       0.326
2              0.1772      0.032      5.549      0.000       0.115       0.240
==============================================================================
"""

In [110]:
Y = df_final3["YesNo"]
X = df_final3[["de","en","es","fr","ru"]]
X = sm.add_constant(X)
model = sm.Logit(Y, X)
results = model.fit()
results.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.065958
         Iterations: 35

C:\Users\broth\anaconda3\envs\kittycat\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  YesNo   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499994
Method:                           MLE   Df Model:                            5
Date:                Sat, 14 Nov 2020   Pseudo R-squ.:                 0.03521
Time:                        17:26:52   Log-Likelihood:                -32979.
converged:                      False   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.1787      0.045    -93.837      0.000      -4.266      -4.091
de             0.1200      0.050      2.408      0.016       0.022       0.218
en             0.0947      0.049      1.950      0.051      -0.001       0.190
es           -30.3068   1.36e+05     -0.000      1.000   -2.67e+05    2.67e+05
fr             0.0619      0.057      1.091      0.275      -0.049       0.173
ru            -1.4119      0.073    -19.280      0.000      -1.555      -1.268
==============================================================================

Possibly complete quasi-separation: A fraction 0.10 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [111]:
Y = df_final3["YesNo"]
X = df_final3["firefox"]
X = sm.add_constant(X)
model = sm.Logit(Y, X)
results = model.fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.068060
         Iterations 9

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  YesNo   No. Observations:               500000
Model:                          Logit   Df Residuals:                   499998
Method:                           MLE   Df Model:                            1
Date:                Sat, 14 Nov 2020   Pseudo R-squ.:                0.004458
Time:                        17:26:55   Log-Likelihood:                -34030.
converged:                       True   LL-Null:                       -34183.
Covariance Type:            nonrobust   LLR p-value:                 3.051e-68
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.5204      0.017   -269.386      0.000      -4.553      -4.488
firefox        0.4493      0.025     17.683      0.000       0.400       0.499
==============================================================================
"""